In [2]:
%config IPCompleter.greedy=True
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv('ex1data2.txt', header = None) #read from dataset
X = data.iloc[:,2] # read input
y = data.iloc[:,3] # read output
m = len(y) # number of training example
data.head() # view first few rows of the data

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [11]:
X=(X-np.mean(X))/np.std(X)
y=(t-np.mean(y))/np.std(y)

In [ ]:
ones = np.ones((m.1))
X = np.hstack((ones,X)