In [121]:
%config IPCompleter.greedy=True
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [122]:
data = pd.read_csv('ex1data2.txt', header = None) #read from dataset


X = data.iloc[:,0:2] # read input
y = data.iloc[:,2] # read output
m = len(y) # number of training example
data.head() # view first few rows of the data

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [123]:
X=(X-np.mean(X))/np.std(X)

In [124]:
ones = np.ones((m,1))
alpha = 0.01
iterations = 500
theta = np.zeros((3,1))
X = np.hstack((ones,X))
y = y[:,np.newaxis]

def computeCost(X, y, theta):
    temp = np.dot(X, theta) - y
    return np.sum(np.power(temp, 2)) / (2*m)
J = computeCost(X, y, theta)
print(J)

65591548106.45744

In [125]:
def gradientDescent(X, y, theta, alpha, iterations):
    for _ in range(iterations):
        temp = np.dot(X, theta) - y
        temp = np.dot(X.T, temp)
        theta = theta - (alpha/m) * temp
    return theta
theta = gradientDescent(X, y, theta, alpha, iterations)
print(theta)
J = computeCost(X, y, theta)
print(J)

[[ 3.38175984e+05]
 [ 1.03032124e+05]
 [-2.02325233e+02]]
2063782403.6748848